name: Cmake Compile

on:
  [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache cmake modules
      uses: actions/cache@v2
      with:
        key: cmake-buildenv
        path: |
           buildenv
    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y flex bison libssl-dev autoconf g++ libtool make cmake libz-dev
    - name: Build
      run: mkdir buildenv && cd buildenv && cmake .. && make 
